.first_text{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.first_text_wrapper{
    overflow: hidden;
    font-size: 5rem;
    font-weight: 900;
}
.first_text_wrapper b{
    color: rgb(84, 6, 103);
    opacity: 0.5;
}
.assignment_link{
    overflow: hidden;
}
.assignment_link p{
    font-size: 1.5rem;
    animation: linkAnimation 1.3s ease-in-out forwards;
}
.assignment_link a{
    text-decoration: none;
}
.first_text_wrapper p{
    animation: firstTextAnimation 1s ease-in-out forwards;
}
.resume{
    /* margin: 3rem; */
    overflow: hidden;
    padding-left: 1.2in;
    font-size: 2rem;
    font-weight: 600;
}
.resume a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    color: black;
}
.link_wrapper{
    overflow: hidden;
    padding-left: 1.2in;
    margin-top: 1rem;
    /* margin-top: rem; */
}
.link_wrapper a{
    font-size: 1.5rem; 
    text-decoration: none;
    color: gray;
    font-weight: 900;
}
.previous_works{
    display: flex;
    gap: 15px;
    margin: 0 1.2in;
    overflow-x: hidden;
    margin-top: 2rem;
}
.previous_works img{
    max-width: 360px;
}
@media (max-width: 600px) {
    .first_text_wrapper{
        font-size: 3rem;
    }
    .assignment_link p{
        font-size: 1.3rem;
    }
}
@media (max-width: 380px) {
    .first_text_wrapper{
        font-size: 2rem;
    }
    .assignment_link p{
        font-size: 1rem;
    }
}
@keyframes firstTextAnimation {
    0%{
        opacity: 0.5;
        transform: translateY(100px);
    }
    /* 75%{
        opacity: 0.6;
        transform: translateY();
    } */
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes linkAnimation {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}